<div class="container">
   <div >
   @for (conteudo of conteudos; track $index)
   {

         <i class="titulo">{{ conteudo.titulo }}</i>
         <p><strong>Autor:</strong> {{ conteudo.autor }}</p>
         <p><strong>Data:</strong> {{ conteudo.dataPublicacao }}</p>
         <p>{{ conteudo.conteudo }}</p>
         
         <button (click)="addCurtida(conteudo)">Curtir</button>
         <span class="badge">Curtidas: {{ conteudo.numeroCurtidas }}</span>
         
         <div class="comentario-section">
            <input [(ngModel)]="conteudo.novoComentario"
            placeholder="Escreva um comentário..." />
            <button (click)="comentar(conteudo)">Comentar</button>
         </div>
         
         <ul>
            <li *ngFor="let comentario of conteudo.listaComentarios">{{ comentario }}</li>
         </ul>
      }
   </div>
   </div>
